<!doctype html>
<html lang="en" amp>
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>

<%- TemplateContent %>

<script type="text/javascript">
    <%- SectionScripts %>
</script>
<%- PageObject.footer_script %>
<%- getSettingsByKey(SettingsKeys.FooterScripts) %>
<script type="text/javascript" src="/theme-static/interstellar/scripts.js"></script>
<script type="text/javascript">
  rg4js('apiKey', 'o/seDF6LVzo9XY73Ie7s7A==');
  rg4js('enableCrashReporting', true);
  rg4js('enablePulse', true);
  rg4js('setUser', {
    identifier: 'dimaslemke@gmail.com',
    isAnonymous: false,
    email: 'dimaslemke@gmail.com',
    firstName: 'Boris',
    fullName: 'Boris Lemke'
  });
</script>
</body>
</html>
