<!doctype html>
<html lang="en" amp>
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>

<%- TemplateContent %>

<script type="text/javascript">
    <%- SectionScripts %>
</script>
<%- PageObject.footer_script %>
<%- getSettingsByKey(SettingsKeys.FooterScripts) %>
<script type="text/javascript" src="/theme-static/interstellar/scripts.js"></script>
</body>
</html>
