<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<base href="/">
<title>
    <%= getSettingsByKey(SettingsKeys.SiteTitle) %> - <%= PageObject.title[CurrentLanguage] %>
</title>

<% for (let i = 0; i < DbCollection.Languages.length; i++) { %>
<% const lang = DbCollection.Languages[i] %>
<% if (CurrentLanguage !== lang.code) { %>
<link rel="alternate"
      href="<%= BaseDomain %><%= lang.code %>/<%= PageObject.url[lang.code] %>"
      hreflang="<%= lang.code %>" />
<% } %>
<% } %>

<meta name="description" content="<%= PageObject.meta[CurrentLanguage] %>">
<link rel="canonical" href="<%= CurrentURL %>" />

<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">

<!-- IF ARTICLE -->
<!-- Facebook Open Graph -->
<meta property="fb:app_id" content="123456789">
<meta property="og:url" content="<%= CurrentURL %>">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= PageObject.title[CurrentLanguage] %>">
<meta property="og:image" content="https://example.com/image.jpg">
<meta property="og:description" content="<%= PageObject.meta[CurrentLanguage] %>">
<meta property="og:site_name" content="<%= getSettingsByKey(SettingsKeys.SiteTitle) %>">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="<%= PageObject.user.first_name %> <%= PageObject.user.last_name %>">
<!-- Facebook Open Graph -->

<!-- Twitter Article -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@<%= getSettingsByKey(SettingsKeys.TwitterHandler) %>">
<meta name="twitter:creator" content="@<%= PageObject.user.social_accounts.twitter %>">
<meta name="twitter:url" content="<%= CurrentURL %>">
<meta name="twitter:title" content="<%= PageObject.title[CurrentLanguage] %>">
<meta name="twitter:description" content="<%= PageObject.meta[CurrentLanguage] %>">
<meta name="twitter:image" content="https://example.com/image.jpg">
<!-- Twitter Article -->

<!-- IF ARTICLE -->

<link rel="stylesheet" href="/theme-static/interstellar/styles.css">
<style>
    <%- CompiledStyles %>
</style>

<!-- Global Header Scripts -->
<%- getSettingsByKey(SettingsKeys.HeaderScripts) %>
<!-- Global Header Scripts -->

<!-- Page Scoped Header Scripts -->
<%- PageObject.header_script %>
<!-- Page Scoped Header Scripts -->

<script type="text/javascript">
  !function(a,b,c,d,e,f,g,h){a.RaygunObject=e,a[e]=a[e]||function(){
    (a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
    f.async=1,f.src=d,g.parentNode.insertBefore(f,g),h=a.onerror,a.onerror=function(b,c,d,f,g){
    h&&h(b,c,d,f,g),g||(g=new Error(b)),a[e].q=a[e].q||[],a[e].q.push({
      e:g})}}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");
</script>
